# 건강검진 대상증후군 분석

In [3]:

import pandas as pd

In [4]:
df = pd.read_csv("../국민건강보험공단_건강검진정보_20211229.CSV",encoding='cp949')
df.head

<bound method NDFrame.head of         기준년도  가입자 일련번호  시도코드  성별코드  연령대 코드(5세단위)  신장(5Cm단위)  체중(5Kg 단위)  허리둘레  \
0       2020         1    36     1             9        165          60  72.1
1       2020         2    27     2            13        150          65  81.0
2       2020         3    11     2            12        155          55  70.0
3       2020         4    31     1            13        160          70  90.8
4       2020         5    41     2            12        155          50  75.2
...      ...       ...   ...   ...           ...        ...         ...   ...
999995  2020    999996    41     2            13        145          55  81.0
999996  2020    999997    26     2            12        160          55  76.5
999997  2020    999998    48     1             9        175          70  85.0
999998  2020    999999    48     2             9        160          70  91.0
999999  2020   1000000    28     1            11        160          55  76.1

        시력(좌)  시력(우)  ...  혈청크레아티닌  (혈청지오티)AST  (혈청지오티)ALT  감마 지티피  흡연상태  \
0         1.2    1.5  ...      1.1        21.0        27.0    21.0   1.0
1         0.8    0.8  ...      0.5        18.0        15.0    15.0   1.0
2         0.6    0.7  ...      0.7        27.0        25.0     7.0   1.0
3         1.0    1.0  ...      1.2        65.0        97.0    72.0   1.0
4         1.5    1.2  ...      0.7        18.0        17.0    14.0   1.0
...       ...    ...  ...      ...         ...         ...     ...   ...
999995    0.9    1.0  ...      0.6        21.0        25.0    18.0   1.0
999996    1.5    1.5  ...      0.8        21.0        14.0    19.0   1.0
999997    1.2    1.2  ...      0.9        26.0        20.0    17.0   1.0
999998    0.6    0.5  ...      1.0        25.0        29.0    13.0   1.0
999999    2.0    2.0  ...      0.9        17.0        13.0    24.0   2.0

        음주여부  구강검진 수검여부  치아우식증유무   치석    데이터 공개일자
0        0.0          0      NaN  NaN  2021-12-29
1        0.0          0      NaN  NaN  2021-12-29
2        0.0          0      NaN  NaN  2021-12-29
3        0.0          1      0.0  0.0  2021-12-29
4        0.0          0      NaN  NaN  2021-12-29
...      ...        ...      ...  ...         ...
999995   0.0          0      NaN  NaN  2021-12-29
999996   1.0          0      NaN  NaN  2021-12-29
999997   1.0          0      NaN  NaN  2021-12-29
999998   0.0          0      NaN  NaN  2021-12-29
999999   0.0          0      NaN  NaN  2021-12-29

[1000000 rows x 31 columns]>

- 데이터 프레임 자료 가져오기

- 열명확인 및 변경

In [10]:
df.columns

Index(['기준년도', '가입자 일련번호', '시도코드', '성별코드', '연령대 코드(5세단위)', '신장(5Cm단위)',
       '체중(5Kg 단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기 혈압',
       '이완기 혈압', '식전혈당(공복혈당)', '총 콜레스테롤', '트리글리세라이드', 'HDL 콜레스테롤', 'LDL 콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마 지티피', '흡연상태',
       '음주여부', '구강검진 수검여부', '치아우식증유무', '치석', '데이터 공개일자'],
      dtype='object')

In [14]:
cc = list(df.columns)
cc

['기준년도',
 '가입자 일련번호',
 '시도코드',
 '성별코드',
 '연령대 코드(5세단위)',
 '신장(5Cm단위)',
 '체중(5Kg 단위)',
 '허리둘레',
 '시력(좌)',
 '시력(우)',
 '청력(좌)',
 '청력(우)',
 '수축기 혈압',
 '이완기 혈압',
 '식전혈당(공복혈당)',
 '총 콜레스테롤',
 '트리글리세라이드',
 'HDL 콜레스테롤',
 'LDL 콜레스테롤',
 '혈색소',
 '요단백',
 '혈청크레아티닌',
 '(혈청지오티)AST',
 '(혈청지오티)ALT',
 '감마 지티피',
 '흡연상태',
 '음주여부',
 '구강검진 수검여부',
 '치아우식증유무',
 '치석',
 '데이터 공개일자']

In [15]:
for c in cc:
    print(c)

기준년도
가입자 일련번호
시도코드
성별코드
연령대 코드(5세단위)
신장(5Cm단위)
체중(5Kg 단위)
허리둘레
시력(좌)
시력(우)
청력(좌)
청력(우)
수축기 혈압
이완기 혈압
식전혈당(공복혈당)
총 콜레스테롤
트리글리세라이드
HDL 콜레스테롤
LDL 콜레스테롤
혈색소
요단백
혈청크레아티닌
(혈청지오티)AST
(혈청지오티)ALT
감마 지티피
흡연상태
음주여부
구강검진 수검여부
치아우식증유무
치석
데이터 공개일자

In [16]:
for i, c in enumerate(cc):
    print(i, c)

0 기준년도
1 가입자 일련번호
2 시도코드
3 성별코드
4 연령대 코드(5세단위)
5 신장(5Cm단위)
6 체중(5Kg 단위)
7 허리둘레
8 시력(좌)
9 시력(우)
10 청력(좌)
11 청력(우)
12 수축기 혈압
13 이완기 혈압
14 식전혈당(공복혈당)
15 총 콜레스테롤
16 트리글리세라이드
17 HDL 콜레스테롤
18 LDL 콜레스테롤
19 혈색소
20 요단백
21 혈청크레아티닌
22 (혈청지오티)AST
23 (혈청지오티)ALT
24 감마 지티피
25 흡연상태
26 음주여부
27 구강검진 수검여부
28 치아우식증유무
29 치석
30 데이터 공개일자

In [5]:
df.index

RangeIndex(start=0, stop=1000000, step=1)

- 필요한 열 가져오기

In [6]:
df['성별코드']

0         1
1         2
2         2
3         1
4         2
         ..
999995    2
999996    2
999997    1
999998    2
999999    1
Name: 성별코드, Length: 1000000, dtype: int64

In [8]:
df2 = df[['성별코드', '허리둘레', '수축기 혈압', '이완기 혈압', '식전혈당(공복혈당)', '트리글리세라이드','HDL 콜레스테롤']]
df2

        성별코드  허리둘레  수축기 혈압  이완기 혈압  식전혈당(공복혈당)  트리글리세라이드  HDL 콜레스테롤
0          1  72.1   127.0    79.0        90.0      58.0       58.0
1          2  81.0   110.0    73.0        87.0       NaN        NaN
2          2  70.0   123.0    80.0       102.0       NaN        NaN
3          1  90.8   134.0    84.0       146.0       NaN        NaN
4          2  75.2   144.0    89.0       110.0     171.0       53.0
...      ...   ...     ...     ...         ...       ...        ...
999995     2  81.0   132.0    78.0       124.0     301.0       43.0
999996     2  76.5   100.0    64.0        98.0      93.0       71.0
999997     1  85.0   110.0    64.0        83.0       NaN        NaN
999998     2  91.0   137.0    82.0       111.0     113.0       59.0
999999     1  76.1   133.0    74.0       121.0      63.0       68.0

[1000000 rows x 7 columns]

In [10]:
df2.columns = ['성별코드', '허리둘레', '수축기 혈압', '이완기 혈압', '식전혈당(공복혈당)', '트리글리세라이드','HDL 콜레스테롤']
df2.columns

Index(['성별코드', '허리둘레', '수축기 혈압', '이완기 혈압', '식전혈당(공복혈당)', '트리글리세라이드',
       'HDL 콜레스테롤'],
      dtype='object')

In [11]:
lt = list(df2.columns)
lt

['성별코드', '허리둘레', '수축기 혈압', '이완기 혈압', '식전혈당(공복혈당)', '트리글리세라이드', 'HDL 콜레스테롤']

In [14]:
lt = [c.replace(' ','') for c in lt]
lt

['성별코드', '허리둘레', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)', '트리글리세라이드', 'HDL콜레스테롤']

In [16]:
lt[4] = '공복혈당'

In [17]:
df2.columns = lt
df2.head

<bound method NDFrame.head of         성별코드  허리둘레  수축기혈압  이완기혈압   공복혈당  트리글리세라이드  HDL콜레스테롤
0          1  72.1  127.0   79.0   90.0      58.0      58.0
1          2  81.0  110.0   73.0   87.0       NaN       NaN
2          2  70.0  123.0   80.0  102.0       NaN       NaN
3          1  90.8  134.0   84.0  146.0       NaN       NaN
4          2  75.2  144.0   89.0  110.0     171.0      53.0
...      ...   ...    ...    ...    ...       ...       ...
999995     2  81.0  132.0   78.0  124.0     301.0      43.0
999996     2  76.5  100.0   64.0   98.0      93.0      71.0
999997     1  85.0  110.0   64.0   83.0       NaN       NaN
999998     2  91.0  137.0   82.0  111.0     113.0      59.0
999999     1  76.1  133.0   74.0  121.0      63.0      68.0

[1000000 rows x 7 columns]>

In [18]:
df2 = df2.dropna(axis=0)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402249 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   성별코드      402249 non-null  int64
 1   허리둘레      402249 non-null  float64
 2   수축기혈압     402249 non-null  float64
 3   이완기혈압     402249 non-null  float64
 4   공복혈당      402249 non-null  float64
 5   트리글리세라이드  402249 non-null  float64
 6   HDL콜레스테롤  402249 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 24.6 MB

In [19]:
import numpy as np

In [21]:
df2['높은혈압'] = np.where((df2['수축기혈압'] >= 130) | (df2['이완기혈압'] >= 85),1,0)

C:\Users\user\AppData\Local\Temp\ipykernel_19140\691608869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['높은혈압'] = np.where((df2['수축기혈압'] >= 130) | (df2['이완기혈압'] >= 85),1,0)

In [22]:
df2.head()

   성별코드  허리둘레  수축기혈압  이완기혈압   공복혈당  트리글리세라이드  HDL콜레스테롤  높은혈압
0     1  72.1  127.0   79.0   90.0      58.0      58.0     0
4     2  75.2  144.0   89.0  110.0     171.0      53.0     1
5     1  94.0  114.0   72.0   86.0     183.0      50.0     0
6     1  93.0  112.0   73.0  250.0     265.0      26.0     0
8     2  82.0  136.0   65.0  104.0      61.0      63.0     1

In [23]:
df2['성별'] = np.where(df2['성별코드'] == 1, '남', '여')

C:\Users\user\AppData\Local\Temp\ipykernel_19140\3291568284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['성별'] = np.where(df2['성별코드'] == 1, '남', '여')

In [26]:
df2.groupby('성별').count()[['성별코드']]

      성별코드
성별
남   197090
여   205159