In [5]:
# 필요한 패키지와 라이브러리를 가져옴
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
mpl.rc('font',family='Malgun Gothic')   # 맑은 고딕으로 그래프한글설정

# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
mpl.rcParams['axes.unicode_minus'] = False

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\minnote\\AppData\\Local\\Microsoft\\Windows\\Fonts\\NanumGothic.ttf'

In [7]:
import pandas as pd

df = pd.read_excel("../02/02_역주행사고.xlsx")
df

     년도   구분    사고   사망
0  2019   전체  4223  206
1  2019  역주행    28    5
2  2020   전체  4039  223
3  2020  역주행    33    3
4  2021   전체  4883  191
5  2021  역주행    27    2

In [10]:
# 데이터프레임 인덱스
# 행인덱스
list(df.index)

[0, 1, 2, 3, 4, 5]

In [11]:
#열인덱스
list(df.columns)

['년도', '구분', '사고', '사망']

In [19]:
df1 = df.loc[df['구분'] == '전체']
df1.head
df1

     년도  구분    사고   사망
0  2019  전체  4223  206
2  2020  전체  4039  223
4  2021  전체  4883  191

In [20]:
df2 = df.loc[df['구분'] == '역주행']
df2.head
df2

     년도   구분  사고  사망
1  2019  역주행  28   5
3  2020  역주행  33   3
5  2021  역주행  27   2

In [22]:
df3 = df2 - df1
df3

   년도   구분  사고  사망
0 NaN  NaN NaN NaN
1 NaN  NaN NaN NaN
2 NaN  NaN NaN NaN
3 NaN  NaN NaN NaN
4 NaN  NaN NaN NaN
5 NaN  NaN NaN NaN

In [ ]:
df3.loc[:,"사고":"사망"]